*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: transparent;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* 
    scrivere gli stili degli elementi usando la convenzione BEM (Block Element Modifier)
    esempio:
    .card {
        ...
    }
    .card__title {
        ...
    }
    .card__title--small {
        ...
    }
    .card__content {
        ...
    }
    .card__content__image {
        ...
    }
*/
